{% extends 'base.html' %}

{% load socialaccount %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="\advisor_app\home\">B-17</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="\advisor_app\home\">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="\advisor_app\schedule\">Schedules</a>
      <a class="nav-item nav-link" href="\advisor_app\course_search\">Course Search</a>
      <a class="nav-item nav-link" href="\advisor_app\chat\">Chats</a>
    </div>
      <div class="navbar-nav navbar-right">
          <a class="nav-item nav-link" href="\advisor_app\home\logout\">Logout</a>
      </div>
  </div>
</nav>
{% endif %}

<div class="container">
    <h1>Add Course</h1>
    <p>Note that any course offered with a range of credits (such as "1 - 3") will be added to the schedule
    with the maximum possible number of credits by default (in the example of "1 - 3", the course would be added
    with 3 credits). This number of credits can be changed at any time from the Schedule page.</p>
    <form action="" method = post>
        {% csrf_token %}
        {{ form }}
        <button type="submit">Add Course</button>
    </form>
</div>

{% endblock %}