<!DOCTYPE html>
{% extends 'base.html' %}

{% load socialaccount %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="\advisor_app\home\">B-17</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="\advisor_app\home\">Home <span class="sr-only">(current)</span></a>
        {% if not is_advisor %}
      <a class="nav-item nav-link" href="\advisor_app\schedule\">Schedules</a>
      <a class="nav-item nav-link" href="\advisor_app\course_search\">Course Search</a>
        {% else %}
      <a class="nav-item nav-link" href="\advisor_app\students\">Current Advisees</a>
      <a class="nav-item nav-link" href="\advisor_app\adv_schedule\">Submitted Schedules</a>
        {% endif %}
      <a class="nav-item nav-link active" href="\advisor_app\chat\">Chats</a>
    </div>
      <div class="navbar-nav navbar-right">
          <a class="nav-item nav-link" href="\advisor_app\home\logout\">Logout</a>
      </div>
  </div>
</nav>
{% endif %}

<div class="container">
    <h1>Chatrooms</h1>
    {% if is_advisor %}
        <h3>Choose a Student to chat with.</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Student</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for x in students %}
                    <tr>
                        <th scope="row">{{ x.name }} ({{ x.email }})</th>
                        <td>
                            <form action="{% url 'advisor_app:checkview' %}" method="get">
                            <button type="submit" name="student" value={{ x.id }}>Chat</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3>Choose an Advisor to chat with.</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Advisor</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for x in advisors %}
                    <tr>
                        <th scope="row">{{ x.name }} ({{ x.email }})</th>
                        <td>
                            <form action="{% url 'advisor_app:checkview' %}" method="get">
                            <button type="submit" name="advisor" value={{ x.id }}>Chat</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
{% endblock %}